.special-heading {
  max-width: 800px;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
.special-heading h2 {
  font-size: 50px ;
  color: black !important;
  font-weight: bolder !important;
  color: var(--black-color);
  margin-bottom: 5px !important;
}
.bg-heading {
  background-image: linear-gradient(
    to top,
    #4481eb 0%,
    #04befe 100%
  ) !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
  color: white !important;
}
@media (max-width: 768px) {
  .special-heading h2 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .special-heading h2 {
    font-size: 25px !important;
  }
}
.h2 {
  font-size: 30px;
  color: black !important;
  font-weight: bolder !important;
  color: var(--darker-color);
  margin-bottom: 5px !important;
}
.special-heading p {
  font-size: 17px;
  color: var(--darker-color);
  margin-top: 15px !important;
}

/*===== CLASS CSS ===== */
.social {
  z-index: 1 !important;
}
.social > * {
  z-index: 1 !important;
}
.section-bg {
  position: relative;
}
.section-bg .bg-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 100%;
}
.tw-btn {
  background-color: var(--primary-color) !important;
  display: inline-block !important;
  padding: 10px 30px;
  width: fit-content;
  color: white;
  background-color: var(--primary-color);
  font-weight: bold !important;
  font-size: 17px !important;
  text-transform: capitalize !important;
  border-radius: 20px;
  text-decoration:  none !important;
}
.tw-btn:hover {
  color: white;

  transition: 0.2s;
  transform: translateX(2px) scale(1.1);
}
.c-tw-blue {
  color: var(--primary-color) !important;
}
.section-pad {
  padding-block: 100px;
}
.logo {
  display: block;
  transition: 0.1s ease-in-out;
  height: 80px;
  scale: 2.3;
}
@media (max-width: 500px) {
  .logo {
    margin-left: 20px;
  }
}
.logo:hover {
  opacity: 0.9;
}
.nav-link {
  font-size: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height, or 100% */
  letter-spacing: 0.3px;
  color: var(--black-color) !important;
  mix-blend-mode: normal;
  opacity: 0.8;
  text-transform: capitalize !important;
  transition: 0.3s ease-in-out;
  display: inline-block;
  width: fit-content;
  position: relative !important;
  margin: 0 !important;
  padding: 5px 0 !important;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right left;
}
.nav-link:hover::before,
.nav-link.active::before {
  transform: scaleX(1) !important;
  transform-origin: left top !important;
}
.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}
.comp-icon {
  font-size: 40px !important;
  color: var(--black-color) !important;
  cursor: pointer !important;
}
.comp-rounded-icon {
  font-size: 25px;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
  background-color: white;
  border: 1px solid rgb(0 0 0 /20%);
}
.comp-rounded-icon:hover {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
  scale: 1.1;
  color: white !important;
}

.phone-btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0;
  color: white !important;
  border-style: solid;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px;
  text-decoration: none;
}
.quote-btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0;
  color: white !important;
  border-style: solid;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 10px !important;
}

.before-img , .after-img {
  width: 100% !important;
}
